<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Results!</title>
  </head>
  <body>
    <div class="container">

      <div class="row">

        <div class="col-md-12">

          <div class="jumbotron">
            <h1>Results: </h1>
            <hr>
            <h3>You picked the word <b>{{word}}</b> to find in the sentence <b>{{sentence}}</b></h3>

            {% if count == 0 %}

              <br><br>
              <h4>Unfortunately, <b>{{word}}</b> <span class="text-danger">wasn't found</span> in that sentence.</h4>

            {% else %}

              <h2 class="text-success">Success!</h2>

              <br>

              <h4>The word <b class="h2">{{word}}</b> was found <span class="text-success h2">{{count}}</span> times!</h4>

            {% endif %}

            <hr>

            <p>
              <a href="/" class="btn btn-default">Enter a new search</a>
            </p>

          </div>


        </div>
      </div>



    </div>


  </body>
</html>
